<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Решение матриц</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <div class="container">
        <h1>Решение матриц</h1>
        <nav>
            <ul>
                <li><a href="/determinant">Определитель матрицы</a></li>
                <li><a href="/plane">Уравнение плоскости</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
