<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Уравнение плоскости</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <div class="container">
        <h1>Уравнение плоскости</h1>
        <p>Введите три точки:</p>
        <div id="points-container"></div>
        <button onclick="calculatePlaneEquation()">Рассчитать</button>
        <p id="equation-result"></p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
